<section id="components" class="d-flex flex-column justify-content-center align-content-center">
  <div id="luz" #luz [style.border-bottom-color]="cor"></div>
  <img id="chand" src="../../../assets/EVandREF/chand.svg" alt="">

  <div class="buttons">
    <mat-form-field id="cor-input">
      <mat-label>Escreva uma cor!</mat-label>
      <input matInput placeholder="Escreva Uma cor" #teste id="cor-textarea" (input)='changeColor(teste.value)'>
    </mat-form-field>
    <button mat-button #botaoRainbow (click)="RainbowLuz(luz)">Rainbow!</button>
  <button mat-button #botaoLuz (click)="ApagarLuz(luz)">Desligar!</button>
  </div>
</section>




