#components{
  width: 100vw;
  height: 100vh;
  background-color: #EFEFEF;
}

#chand{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 8vh;
  left: 50%;
  width: 17%;
  height: auto;
}

#luz{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 24vh;
  left: 50%;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 166px 287.5px 166px;
  border-color: transparent transparent #EEE9BF transparent;

  filter: blur(70px);
  transition-duration: 1s;
}


#cor-input{
  width: auto;
  margin-right: 1vw;
}


.buttons{
  width: auto;
  height: auto;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
}
