<!-- <img id="background" src="../../assets/trabalhos/background.png" alt=""> -->

<section id="ultimos-trabalhos" class="container-fluid ultimos-trabalhos d-flex flex-column  align-items-center">
  <h1>ULTIMOS TRABALHOS</h1>

  <div class="row">

      <div class="col-md-4 col-sm-12  d-flex justify-content-center flex-wrap">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 d-flex justify-content-center flex-wrap">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <div class="card-holder d-flex flex-column align-items-center">
          <img src="../../assets/trabalhos/holdertest.png" alt="">
          <h4>Lorem Ipsum</h4>
        </div>
      </div>


  </div>
</section>

