<section id="cookie-footer" class="flex-column flex-md-row  justify-content-start align-items-center" #footer>
  <div class="introducao w-md-75 w-sm-100 order-sm-1 order-md-0 ">
    <h1>Do You Want Some Cookies?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam fuga enim. Repudiandae illum rerum doloremque accusantium culpa alias? Similique numquam qui repellat harum reprehenderit animi, repudiandae ea consectetur obcaecati.</p>
  </div>
  <div id="cookies-decisao" class="w-sm-25 w-100 h-sm-25 m-auto d-flex flex-row align-items-center justify-content-center">
    <button id="bt-cookie-deny" class="cookie-buttons" (click)="CookieClick(false)">Rever Termos</button>
    <button id="bt-cookie-accept" class="cookie-buttons" (click)="CookieClick(true)">Aceitar</button>
  </div>
</section>


