<section id="banner" class="container-fluid d-flex flex-row justify-content-center">
  <div id="profile-pic" class="d-flex flex-row justify-content-center align-content-center">
    <img src="../../assets/about/profile.png" alt="">
  </div>
</section>

<section id="banner-bottom-info">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 id="nome" class="text-center">
      Flávio Costa
    </h1>
    <section id="redes" class="d-flex flex-row justify-content-center align-items-center">
      <img src="../../assets/about/redes/email-icon.svg" alt="">
      <img src="../../assets/about/redes/telefone-icon.svg" alt="">
      <img src="../../assets/about/redes/instagram-icon.svg" alt="">
      <img src="../../assets/about/redes/facebook-icon.svg" alt="">
    </section>
  </div>
</section>

