/* ====
  Imports
====*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
  font-family: signature;
  src: url(../../assets/homeAssets/SurfshirtSignature.ttf);
}



#menu{
  display: none;
}

#background{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

#assinatura{
  font-family: signature;
  font-size: 60px;
  color: white;
  text-decoration: none;
  top: 0;
  right: 0;
  margin: 1vw 3vw 0vw 0vh;
}


#main{
  position: relative;
  height: 100vh;
  padding-left: 10vw;
  z-index: 900;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.555);
}
#main h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
  color: white;
}
#main p {
  width: 35%;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: white;
}
#main button{
  color: white;
  background-color: #16161600;
  padding: 10px 20px 10px 20px;
  margin-top: 4vh;
  border: 2px solid white;
  transition-duration: 1s;
}
#main button:hover{
  color: black;
  background-color: white;
  -webkit-box-shadow: -6px -6px 30px 0px #18181877;
  -moz-box-shadow:    -6px -6px 30px 0px #18181877;
  box-shadow:         -6px -6px 30px 0px #18181877;
}
#main img{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



@media screen and  (max-width: 769px), screen and (max-height: 700px) {
  #assinatura{
    font-family: signature;
    font-size: 2.3rem;
    margin: 1vw 5vw 0vw 0vh;

  }

  #main{
    width: 100vw;
    margin-left: 0vw;
  }
  #main h1{
    font-size: 4rem;
    width: 100%;
    text-align: left;
  }

  #main p{
    width: 95%;
    font-size: 1.2rem;
  }
  #main button{
    padding: 10px 15px 10px 15px;
  }
}


/* // Medium devices (tablets, less than 992px) */
@media only screen and (min-width:  769.1px) and (max-width: 991.98px){

}



/* // Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 769px) and (max-width: 1300.98px) {

}


